@charset "UTF-8";
/* CSS Document */
*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
body {
	background-color: #BCE2D6;
	}
h1 {
	color: #E77124;
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	margin-top: 110px;
	text-align: center;
	text-transform: uppercase;
	}
h2 {
	color: #E77124;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-transform: uppercase;
	}
h3 {
	font-family: 'Oswald', sans-serif;
	color: #E77124;
	}
p {
	color: #184425;
	}
#works {
	text-align: left;
	}
#designs {
	margin-left: 100px;
	}
li {
	display: inline;
	}
#jane {
	float: right;
	}
#person-1{
	background-image: url(../img/person-1.jpg);
	height: 414px;
	width: 618px;
	}
#peron-1:hover {
	background: url(../img/person-1-hover.jpg);
	height: 414px;
	width: 618px;
	}
#person-4 {
	background-image: url(../img/person-4.jpg);
	height: 318px;
	width: 256px;
	background-size: cover;
	}
.bg-purple {
	background-color: #9C2489;
	}
#logo {
	float: left;
	margin-left: 40px;
	padding: 30px 0;
	}
#nav {
	float: right;
	margin-right: 40px;
	margin-top: 35px;
	}
nav li {
	color: #fff;
	font-family: 'Oswald', sans-serif;
	margin-left: 75px;
	text-transform: uppercase;
	}
nav li:hover {
	color: #649385;
	border-bottom: 5px solid;
	}
header p {
	margin: 0 auto;
	width: 402px;
	text-align: center;
	}
#buttons {
	margin-left: 250px;
	}
button {
	background-color: #E77124;
	color: #BCE2D6;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 150px;
	margin-left: 25px;
	margin-top: 30px;
	padding: 10px 45px;
	border-radius: 30px;
	text-transform: uppercase;
	}
button:hover {
	background-color: #9C2489;
	color: #E77124;
	}
#our-team {
	margin: 0 auto;
	margin-bottom: 40px;
	width: 616px;
	text-align: center;
	}
#hero-img {
	background-image: url(../img/hero.png); /* Figure this one out no repeat */
	background-repeat: no-repeat;
	background-position: right;
	}
#works-img {
	background-image: url(../img/works.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	}
#team-img {
	background-image: url(../img/team.png), url(../img/bottom.png);
	background-repeat: no-repeat;
	background-position: left top, bottom right;
	}
.col-1-4 p {
	margin-bottom: 155px;
	}
.col-1-3 {
	margin-top: 75px;
	}
.col-1-3 p {
	margin-bottom: 480px;
	}
.wrapper {
	margin: 0 auto;
	width: 75%;
	}
.row:after {
	clear: both;
	content: "";
	display: table;
	}
img {
	max-width: 100%;
	}
[class*='col-']	{
	float: left;
	padding-right: 20px;
	margin-bottom: 15px;
	}
[class*='col-']:last-of-type {
	padding: 0;
	}
.col-1-1 {
	width: 100%;
	}
.col-1-2 {
	width: 50%;
	}
.col-1-3 {
	width: 33.33%;
	}
.col-2-3 {
	width: 66.66%;
	}
.col-1-4 {
	width: 25%;
	}
.col-3-4 {
	width: 75%;
	}
.col-1-5 {
	width: 20%;
	}
.col-2-5 {
	width: 40%;
	}
.col-3-5 {
	width: 60%;
	}
.col-1-6 {
	width: 16.66%;
	}
.col-5-6 {
	width: 83.33%;
	}
.col-1-7 {
	width: 14.28%;
	}
.col-3-7 {
	width: 42.86%;
	}
.col-4-7 {
	width: 57.14%;
	}
.col-1-8 {
	width: 12.50%
	}
.col-3-8 {
	width: 37.50%;
	}
.col-5-8 {
	width: 62.50%;
	}
.col-1-9 {
	width: 11.11%;
	}
.col-2-9 {
	width: 22.22%;
	}
.col-7-9 {
	width: 77.77%;
	}	
.col-1-10 {
	width: 10%;
	}
.col-4-10 {
	width: 40%;
	}
.col-6-10 {
	width: 60%;
	}
.col-1-11 {
	width: 9.09%;
	}
.col-4-11 {
	width: 36.36%;
	}
.col-7-11 {
	width: 63.60%;
	}
.col-1-12 {
	width: 8.33%;
	}
.col-5-12 {
	width: 41.66%;
	}
.col-7-12 {
	width: 58.33%;
	}
@media (max-width: 480px) {
.wrapper {
		width: 85%;
		}
.col-1-4:nth-child(even), .col-1-3:nth-child(3), .col-1-1, .col-1-7, .col-1-11, .col-1-6:nth-child(even), .col-1-8:nth-child(4), .col-1-9:nth-child(9), .col-1-9:nth-child(3), .col-1-9:nth-child(6), .col-1-10:nth-child(5), .col-1-12:nth-child(4), .col-1-12:nth-child(8) {
		padding: 0;
		}
	.col-1-5, .col-1-10 {
		width: 20%;
		}
	.col-sm, .col-1-12, .col-1-8 {
		width: 25%;
		}
	.col-1-3, .col-1-9 {
		width: 33.33%;
		}
	.col-1-4, .col-1-6, .col-5-6, .col-3-4 {
		width: 50%;
		}
	.col-1-7, .col-1-11 {
		width: 100%;
		}
	}